#soundcamp_sounds {
    width: 18px;
    height: 16px;
    margin: 2px 5px;
    opacity: 0.75;
}

#soundcamp_sounds:hover {
    opacity: 0.95;
}

#soundcampContainer {
    width: 294px;
    margin-left: -156px;
}

.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 999;
}

.tooltip-inner {
    display: none;
    cursor: default;
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.tooltip-inner:before, .tooltip-inner:after {
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: -12px;
    left: 50%;
    margin-left: -12px;
    border-top: 12px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 0;
}

.tooltip-inner:before {
    border-top-color: #ccc;
    bottom: -14px;
}

.tooltip-inner > .sound {
    cursor: pointer;
}

.tooltip-inner > a {
    display: block;
}

.scMsg {
    padding-left: 5px;
}

.scImg {
    /*height: 18px;*/
}

.scSndIcon {
    width: 12px;
    height: 12px;
    opacity: 0.25;
}

.scMsgUnknown {
    opacity: 0.75;
}
